html {
  text-size-adjust: 100%;
  background-color: black;
  color: beige;
  font-family: Arial, Helvetica, sans-serif;

  --mdc-theme-primary: #359c5f;
}

body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  display: grid;
  grid-template-rows: 10rem auto 10rem;
  grid-template-columns: 10rem auto 10rem;
  grid-template-areas:
    "left top rigth"
    "left main rigth";
}

img {
  width: 70%;
  height: auto;
}

iframe {
  max-width: 0px;
  max-height: 0px;
}

iframe.visible {
  max-width: inherit;
  max-height: inherit;
}

@media screen and (min-width: 1450px) {

  img {
    width: inherit;
    height: inherit;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}

#loading, .loading {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#banner {
  display: grid;
  grid-template-rows: 30rem 100px auto;
  grid-template-areas:
    "btext"
    "blogo"
    "bloading";
  justify-items: center;
  align-items: center;
}

#video {
  display: grid;
  grid-template-rows: 10rem 600px auto;
  grid-template-columns: 10rem 800px 10rem;
  grid-template-areas:
    "prev-video time next-video"
    "prev-video video next-video"
    "prev-video controls next-video";
}

#banner, #video, #loading {
  grid-area: main;
}

#banner .text {
  grid-area: btext;
  font-size: 1.5rem;
}

#banner .logos {
  grid-area: blogo;
}

#banner .loading {
  grid-area: bloading;
}

#banner .loading .play {
  cursor: pointer;
}

#video .arrow-left {
  grid-area: prev-video
}

#video .arrow-right {
  grid-area:next-video
}

#video .time {
  grid-area: time;
}

#video .player {
  grid-area: video;
}

#video[role="progressbar"] {
  grid-area: controls;
}

.material-icons.md-3-rem {
  font-size: 3rem;
}

.mdc-linear-progress{
  cursor: pointer;
}

.mdc-linear-progress {
  height: 1rem !important;
}

.spin {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.hidden {
  display: none !important;
}
