html {
  text-size-adjust: 100%;
  background-color: black;
  color: beige;
  font-family: Arial, Helvetica, sans-serif;

  --mdc-theme-primary: #359c5f;
}

body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;

  display: grid;
  grid-template-columns: [left-border] auto [players] 800px [rigth-border] auto;
  justify-items: center;
  align-items: center;
}

img {
  width: 70%;
  height: auto;
}

@media screen and (min-width: 1450px) {

  img {
    width: inherit;
    height: inherit;
  }
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}

iframe {
  display: none;
  /* min-width: 0px;
  width: 0px;
  max-width: 0px;

  min-height: 0px;
  height: 0px;
  max-height: 0px; */
}

iframe.visible {
  display: block;
  /* min-width: inherit;
  width: inherit;
  max-width: inherit;

  min-height: inherit;
  height: inherit;
  max-height: inherit; */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.material-icons, .mdc-linear-progress{
  cursor: pointer;
}

.material-icons.md-3-rem {
  font-size: 3rem;
}

.viewport .time {
  text-align: center;
  font-size: 1.5rem;
  padding: 0 0 0.5rem;
}

.viewport .banner {
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: [banner-left] 5% [banner-text] auto [banner-rigth] 5% [banner-end];
  justify-items: center;
  align-items: center;
}

.arrow-left {
  justify-self: right;
}

.arrow-right {
  justify-self: left;
}

.player {
  max-width: 800px;
  max-height: 600px;
}

.viewport .text {
  padding-bottom: 2rem;
}

.viewport .text div {
  padding: 0.5rem 0 0;
}

.viewport .logos {
  grid-column-start: banner-left;
  grid-column-end: banner-end;
}

.viewport .logos div {
  text-align: center;
}

.viewport .controls {
  display: flex;
  justify-content: space-between;
}

.viewport .controls.paused {
  justify-content: center;
}

.mdc-linear-progress {
  height: 1rem !important;
}

.loading {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none !important;
}
